body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

 .overlay {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}
 .hero-slider {
	 width: 100%;
	 height: 100vh;
	 overflow: hidden;
}
 .hero-slider .carousel-cell {
	 width: 100%;
	 height: 100%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
}
 .hero-slider .carousel-cell .inner {
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
	 color: white;
	 text-align: center;
}
 .hero-slider .carousel-cell .inner .subtitle {
	 font-family: 'Roboto Slab', serif;
	 font-size: 2.2rem;
	 line-height: 1.2em;
	 font-weight: 200;
	 font-style: italic;
	 letter-spacing: 3px;
	 color: rgba(255, 255, 255, 0.5);
	 margin-bottom: 5px;
}
 .hero-slider .carousel-cell .inner .title {
	 font-family: 'Montserrat', sans-serif;
	 font-size: 3rem;
	 line-height: 1.2em;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 margin-bottom: 40px;
}
 .hero-slider .carousel-cell .inner .btn {
	 border: 1px solid #fff;
	 padding: 14px 18px;
	 text-transform: uppercase;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 0.8rem;
	 letter-spacing: 3px;
	 color: #fff;
	 text-decoration: none;
	 transition: all 0.2s ease;
}
 .hero-slider .carousel-cell .inner .btn:hover {
	 background: #fff;
	 color: #000;
}
 .hero-slider .flickity-prev-next-button {
	 width: 80px;
	 height: 80px;
	 background: transparent;
}
 .hero-slider .flickity-prev-next-button:hover {
	 background: transparent;
}
 .hero-slider .flickity-prev-next-button .arrow {
	 fill: white;
}
 .hero-slider .flickity-page-dots {
	 bottom: 30px;
}
 .hero-slider .flickity-page-dots .dot {
	 width: 30px;
	 height: 4px;
	 opacity: 1;
	 background: rgba(255, 255, 255, 0.5);
	 border: 0 solid white;
	 border-radius: 0;
}
 .hero-slider .flickity-page-dots .dot.is-selected {
	 background: #f00;
	 border: 0 solid #f00;
}

ul
{
	position: absolute;
	top: 5%;
	left: 75%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}

ul li
{
	list-style: none;
}

ul li a
{
	position: relative;
	display: block;
	margin: 0 10px;
	padding: 5px 10px;
	color: #aaa;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	overflow: hidden;
}

ul li a:before
{
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	left: -100%;
	width: 100%;
	height: 4px;
	background: #2196f3;
	transition: 0.5s;
}

ul li a:hover:before
{
	animation: animate 0.5s linear forwards;
}
@keyframes animate
{
	0%
	{
		top: calc(50% - 2px);
		left: -100%;
		height: 4px;
		z-index: 1;
	}

	50%
	{
		top: calc(50% - 2px);
		left: 0;
		height: 4px;
		z-index: 1;
	}

	100%
	{
		top: 0;
		left: 0;
		height: 100%;
		z-index: -1;
	}
}

ul li a:hover
{
	color: #fff;
}

.container
{
	width: 1100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container .box
{
	position: relative;
	width: 320px;
	background: #fff;
	padding: 100px 40px 60px;
	box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.container .box:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #36DAD5;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
}

.container .box:hover:before
{
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.5s;
}

.container .box h2
{
	position: absolute;
	left: 40px;
	top: 60px;
	font-size: 4em;
	font-weight: 800;
	z-index: 1;
	opacity: 0.1;
	transition: 0.5s;
}

.container .box:hover h2
{
	opacity: 1;
	color: #fff;
	transform: translateY(-40px);
}

.container .box h3
{
	position: relative;
	font-size:1.5em;
	z-index: 2;
	color: #333;
	transition: 0.5s;
}

.container .box p
{
	position: relative;
	z-index: 2;
	color: #555;
	transition: 0.5s;
}

.container .box:hover h3,
.container .box:hover p
{
	color: #fff;
}

.container2
{
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}

.container2 .card
{
	position: relative;
	max-width: 300px;
	height: 400px;
	background: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}

.container2 .card .imgBx
{
	position: relative;
	max-width: 260px;
	height: 260px;	
	top: -60px;
	left: 20px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container2 .card .imgBx img
{
	max-width: 100%;
	border-radius: 4px;
}

.container2 .card .content
{
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.container2 .card:hover .content
{
	visibility: visible;
	opacity: 1;
	margin-top: -80px;
	transition-delay: 0.3s;
}

.divipare
{
	background-color: #E53F08;
	width: 100%;
	height: 260px;
}

.ppare
{
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 550;
	color: white;
	text-align: center;
	margin-right: 30%;
	margin-left: 30%;
}

 .hfillim
 {
 	font-family: Helvetica;
	font-size: 30px;
	font-weight: 550;
	color: red;
	margin-bottom: -4%;
	margin-left: 5%;
 }

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
