{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica' , sans-serif;
}

section 
{

		position: absolute;
		width: 100%;
		height: 100vh;
		background: #111;
		display: flex;
		justify-content: center;
		align-items: center;

}

section h2
{

	position: relative;
	font-size: 6em;
	color: #fff;

}

section svg 
{

	position: absolute;
	top: 0;
	left: 0;

}

a 
{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 15px 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	font-size: 20px;
}

a:before 
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #21C4D4;
	z-index: -1;
	transition: transform 0.5s;
	transform-origin: bottom right;
	transform: scale(0);
}

a:hover:before
{
	transition: transform 0.5s;
	transform-origin: top left;
	transform: scale(1);	
}

a:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 2px solid #fff;
	box-sizing: border-box;
	z-index: -1;
	transition: transform 0.5s;
	transform-origin: top left;
	transform: scale(1);
}

a:hover:after
{
	transition: transform 0.5s;
	transform-origin: bottom right;
	transform: scale(0);	
}